.aboutContainer {
    text-align: center;
    padding-top: 2rem;
}

.header {
    width: 100%;
    display: grid;
    place-items: center;
}

.header h1 {
    font-size: 3rem;
    color: #4753BD;
    width: 55%;
}

.aboutContent {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutContent img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.desc {
    width: 50%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc span {
    font-size: 2rem;
    color: gray;
}

.aboutBtn {
    width: max-content;
    padding: 0.7rem 2rem;
    background: linear-gradient(270.04deg, #232283 0%, #3E3DA6 103.67%, rgba(0, 0, 0, 0) 103.68%);
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    margin-top: 4rem;
}